body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: space-between;
}
.products img {
    max-width: 200px;
    justify-content: center;
}
/* Tambahkan lebih banyak aturan CSS untuk mengatur tampilan */